{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "Kestrel": {
        "Certificates": {
            "Default": {
                "Path": "\\path\\to\\certificate.pfx",
                "Password": "your-password"
            }
        },
        "Endpoints": {
            "Https": {
                "Url": "https://your.domain.name:7102" // Or your desired HTTPS URL/port
            }
        }
    }
}
